body {
	background-color: #efe8dc;
	font-family: 'Titillium Web', sans-serif;
	font-size: 0.9em;
}
h1, h2{
	font-family: 'Oswald', sans-serif;
}

/*Headers*/

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-top: 0px;
	padding-left: 20px;
	background-color: #2c3840;
	z-index: 999;
}
header h1 {
	font-family: 'Passion One', cursive;
	font-size: 200%;
	color: white;
	margin: 10px;
}

/*Navbar*/

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul {
	margin: 10px;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a, nav li {
	font-weight: bold;
	color: #e0e0e0;
}

/*Corps de la page*/

.inner{
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
	position: relative;
	top: 150px;
}

.bloc {
	min-width: 320px;
	max-width: 40%;
	background-color: #e0e0e0;
	padding: 20px;
	margin: 15px;
	padding-top: 5px;
	border-top: 4px solid #bababa;
}

/*Tableau d'images*/

table td img {
	width: 200px;
}

/*Lecteur*/

.music{
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
	position: relative;
	top: 150px;
}

.player-box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-right: 100px;
}

.player-box audio, .player-box img {
	width: 400px;
}

.player-box h2 {
	position: relative;
	top: -120px;
	left: 0px;
	width: 60%;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.play {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 15px solid black;
	border-bottom: 8px solid transparent;
}

/*Tableaux*/

table td {
	padding: 4px;
}

thead td {
	font-weight: bold;
	background-color: #aaa;
}

tbody tr:nth-child(odd) {
   background-color: #ccc;
}

tbody tr:hover {
	background-color: #bbb;
}


/*Blocs de couleur*/

.container {
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
}

.element {
	padding: 50px;
	padding-left: 70px;
	padding-right: 70px;
	margin: 5px;
	box-shadow: -1px 2px 20px 3px rgba(0, 0, 0, 0.7) inset;
	filter: saturate(70%);
	font-weight: bold;
	font-size: 120%;
}

.element:active {
	filter: saturate(120%);
	color: white;
}

.bleu{
	background-color: blue;
}

.vert{
	background-color: green;
}

.orange{
	background-color: orange;
}

.cyan{
	background-color: cyan;
}

.rouge {
	background-color: red;
}